{{#container-comp title="Categories"}}
  {{outlet}}
  <div class="col-md-10 col-sm-12 col-centered">
    <div class="panel panel-default">
      <div class="panel-body">
          <div class="pull-right">
              <div class="btn-group">
                  {{#link-to 'categories.new' class="btn btn-filter" }}NEW{{/link-to}}
              </div>
          </div>
        </div>
    </div>
  </div>
  {{categories-list items=categories}}
{{/container-comp}}
