{{#site-container session=session title="Users" action='logout'}}
  {{outlet}}
  <div class="col-md-10 col-sm-12 col-centered">
    <div class="panel panel-default">
      <div class="panel-body">
          <div class="pull-right">
              <div class="btn-group">
                  {{#link-to 'users.new' class="btn btn-filter" }}NEW{{/link-to}}
              </div>
          </div>
        </div>
    </div>
  </div>
  {{users-list items=users action='deleteUser'}}
{{/site-container}}
